<div class="text-center my-10">
  <div class="grid place-items-center">
    <br>
    <body>
      <p>あなたの名前は <%= @user.name %> です</p>
      <p>誕生日は <%= @user.birth_date %> です</p>
      
      <% if @national_day.present? %>
        <h2>あなたの誕生日に近い国の建国記念日</h2>
        <p>国名: <%= @national_day.country_name %></p>
        <p>建国記念日: <%= @national_day.national_day %></p>
        <p>説明: <%= @national_day.description %></p>
      <% else %>
        <p>近い建国記念日は見つかりませんでした。</p>
      <% end %>
    </body>
  </div>
</div>

