<div class="text-center my-10">
  <div class="grid place-items-center">
    <br>
    <body>
      <p>あなたの名前は <%= @user.name %> です</p>
      <p>誕生日は <%= @user.birth_month %> 月 <%= @user.birth_day %> 日です</p>
      
      <% if @national_day.present? %>
        <h2>あなたの誕生日に近い国の誕生日はこちら</h2>
        <br>
        <p>
          <img src="<%= @national_day.image_url %>"
               class="w-32 h-auto rounded shadow-lg" />
        </p>
        <br>
        <p>国名: <%= @national_day.country_name %></p>
        <p>日付: <%= @national_day.national_day.strftime("%m月%d日") %></p>
        <p>説明: <%= @national_day.description %></p>
        <p>補足: <%= @national_day.remark %></p>
      <% else %>
        <p>あなたの誕生日に近い国の誕生日は見つかりませんでした。</p>
      <% end %>
      <%= link_to "もう一度試す", new_users_path, class: "btn btn-wide bg-cyan-400 hover:bg-orange-300 text-white text-xl my-3" %><br>
      <%= link_to "トップに戻る", root_path, class: "btn btn-wide bg-yellow-400 hover:bg-red-300 text-white text-xl" %>
      <br>
      <% if @national_day.present? %>
        <%= link_to "https://twitter.com/share?url=#{request.url}&text=私(#{@user.name})の誕生日(#{@user.birth_month}月#{@user.birth_day}日)に近い国の誕生日は%0a#{@national_day.country_name}の#{@national_day.description}です！%0a%23BirthNation%0a%23建国記念の日%0a%23HBD%0a",
          target: '_blank',
          class: "btn btn-outline inline-flex items-center space-x-2" do %>
          <i class="fa-brands fa-x-twitter inline-block hover:text-white"></i>シェア
        <% end %>
      <% else %>
        <%= link_to "https://twitter.com/share?url=#{request.url}&text=私(#{@user.name})の誕生日(#{@user.birth_month}月#{@user.birth_day}日)に近い国の誕生日は見つかりませんでした！%0a%23BirthNation%0a%23建国記念の日%0a%23HBD%0a",
          target: '_blank',
          class: "btn btn-outline inline-flex items-center space-x-2" do %>
          <i class="fa-brands fa-x-twitter inline-block hover:text-white"></i>シェア
        <% end %>
      <% end %>            
    </body>
  </div>
</div>


