<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "BirthNation" %></title>
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6P48KF29W9"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-6P48KF29W9');
    </script>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag("favicon.ico") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/ed5990692e.js" crossorigin="anonymous"></script>
    <%= display_meta_tags %>
  </head>

  <body class="bg-[url('bg_image.png')] bg-cover bg-center">
    <div class="flex flex-col min-h-screen ">
    <header class="bg-rose-200 h-12 text-white text-2xl flex items-center">
      <%= link_to "BirthNation", root_path, class: "text-left ml-4" %>
    </header>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
